.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;
  background: #fff;
}

.imageContainer {
  margin: 20px 0;
  text-align: center;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
}
  